<h1>Editing municipality resident</h1>

<%= render "form", municipality_resident: @municipality_resident %>

<br>

<div>
  <%= link_to "Show this municipality resident", @municipality_resident %> |
  <%= link_to "Back to municipality residents", municipality_residents_path %>
</div>
