<h1>New municipality resident</h1>

<%= render "form", municipality_resident: @municipality_resident %>

<br>

<div>
  <%= link_to "Back to municipality residents", municipality_residents_path %>
</div>
