<p style="color: green"><%= notice %></p>

<%= render @municipality_resident %>

<div>
  <%= link_to "Edit this municipality resident", edit_municipality_resident_path(@municipality_resident) %> |
  <%= link_to "Back to municipality residents", municipality_residents_path %>
</div>
