<p style="color: green"><%= notice %></p>

<%= render @municipality_resident %>

<div>
  <%= button_to "Editar", edit_municipality_resident_path(@municipality_resident), method: :get, class: "btn btn-warning" %>
  <%= button_to t("back_to_municipalities"), municipality_residents_path, method: :get, class: "btn btn-success" %>
</div>
